@{
    ViewBag.Title = "Pengguna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function InputPengguna(data) {
        $('#error-fieldpengguna').text('');
        if (data.status == 0) {
            $('#error-fieldpengguna').text(data.message).fadeIn('slow');
            //$('#password').val();
        } else if (data.status == 1) {
            document.location.href = "/Home/Pengguna";
        }
    }
</script>
@*@using (Html.BeginForm("CreatePengguna", "Home", FormMethod.Post))*@
<main role="main">
    <div class="col-sm-2 col-sm-offset-10" style="float:right">
        <a class="btn btn-primary" data-toggle="modal" data-target="#InsertUser">+User</a>
    </div>

    <!-- Modal -->
    @using (Ajax.BeginForm("Pengguna", "Home", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "InputPengguna"
    }))
    
    {
        <div class="modal fade" id="InsertUser" tabindex="-1" role="dialog" aria-labelledby="InsertModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="InsertModalLabel">Insert User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form name="insertuser" data-ajax="true" id="form" method="POST" data-ajax-success="InputPengguna">
                        <div class="modal-body">
                            <div class="form align-items-center">
                                <div class="form-group">
                                    <label for="UserName">User Name</label>
                                    <input type="text" class="form-control" id="column" name="username" placeholder="User Name">
                                </div>
                                <div class="form-group">
                                    <label for="FullName">Full Name</label>
                                    <input type="text" class="form-control" id="column" name="fullname" placeholder="Full Name">
                                </div>
                                <div class="form-group">
                                    <label for="Password">Password</label>
                                    <input type="password" class="form-control" id="column" name="password" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p class="error-fieldpengguna" id="error-fieldpengguna" style="color:red"></p>
                            <input type="submit" name="submit" class="btn btn-primary" value="Submit" onclick="InputPengguna()" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    <!--User List-->
    <h2>Master User</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th align="center">User Name</th>
                    <th align="center">Full Name</th>
                    <th align="center">Created On</th>
                    <th align="center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pengguna in (List<MovieProject.Models.Pengguna>)ViewBag.UserData)
                {
                    <tr>
                        <td><a href="/Home/Index">@pengguna.UserName</a></td>
                        <td>@pengguna.FullName</td>
                        <td>@pengguna.CreatedOn</td>
                        <td>@Html.ActionLink("Delete", "DeleteUser", new {username = pengguna.UserName}, new { @class = "btn btn-primary" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>